body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
}

#canvas {
    width: 270px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
    /*position: relative;
    left: 50%;
    margin-left: -180px;
    margin-top: 50px;*/
}

.arrows {
    display: inline-block;
    width: 90px;
    height: 55px;
    position: relative;
    margin-bottom: 10px;
}

.arrows i {
    position: absolute;
    font-size: 24px;
}
.arrows i.left {
    left: 0px;
    bottom: 0px;
}

.arrows i.right {
    right: 0px;
    bottom: 0px;
}

.arrows i.up {
    left: 50%;
    margin-left: -10px;
    top: 0px;
}

.arrows i.down {
    left: 50%;
    margin-left: -10px;
    bottom: 0px;
}

.help {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #999;
}

button {
    background: none;
    border: 2px solid #ddd;
    color: #222;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: #444;
}

button:hover {
    background-color: #ddd;
}

.columns {
    width: 810px;
    margin: 50px auto 20px auto;
    position: relative;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    z-index: 999;
    display: none;
}

#loader.active {
    display: block;
}

#loader img {
    margin: 120px auto;
    opacity: 0.5;
}


.columns #steps {
    display: none;
}

.columns.active #steps {
    display: inline-block;
}

#steps {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    text-align: left;
    padding-left: 30px;
}

#steps p {
    margin-top: 0px;
}

#steps ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#steps ul li {
    display: inline-block;
    border: 2px solid #ddd;
    padding: 3px 5px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 5px 5px 0;
}

.play {
    display: inline-block;
    border: 2px solid #ddd;
    padding: 3px 5px;
    margin-top: -1px;
    font-size: 14px;
    text-transform: uppercase;
}

.play:hover {
    background-color: #ddd;
    cursor: pointer;
}

.play i {
    color: #999;
    font-size: 14px;
    margin-right: 5px;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
}

.heuristics {
    font-size: 14px;
    margin-top: 10px;
}

.heuristics input {
    margin-right: 5px;
    margin-left: 10px;
}